/CopperMatchmaking/bin/
/CopperMatchmaking/obj/
/CopperMatchmaking.Server/bin/
/CopperMatchmaking.Server/obj/
/CopperMatchmaking.Testing.Client/bin/
/CopperMatchmaking.Testing.Client/obj/
/CopperMatchmaking.Testing.Server/bin/
/CopperMatchmaking.Testing.Server/obj/