/CopperMatchmaking/bin/
/CopperMatchmaking/obj/
/CopperMatchmaking.Server/bin/
/CopperMatchmaking.Server/obj/
/CopperMatchmaking.Testing.Client/bin/
/CopperMatchmaking.Testing.Client/obj/
/CopperMatchmaking.Testing.Server/bin/
/CopperMatchmaking.Testing.Server/obj/
/CopperMatchmaking.Riptide/bin/
/CopperMatchmaking.Riptide/obj/
/CopperMatchmaking.Riptide.Testing.Client/bin/
/CopperMatchmaking.Riptide.Testing.Client/obj/
/CopperMatchmaking.Riptide.Testing.Server/bin/
/CopperMatchmaking.Riptide.Testing.Server/obj/
/CopperMatchmaking.Example.Client/bin/
/CopperMatchmaking.Example.Client/obj/
/CopperMatchmaking.Example.Server/bin/
/CopperMatchmaking.Example.Server/obj/